/*Variables*/
$font-title: 'Lora', 'Arial', serif;
$font-text: 'Montserrat', 'Arial', sans-serif;
$color-text1: #fff;
$color-text2: #7f8c8d;
$color-main: #ffce3f;

/* Global */

*, *::before, *::after {
	box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: $font-text;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

section {
    padding: 100px;
}

.section-title {
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}

.section-subtitle {
    font-size: 16px;
    font-family: $font-title;
    text-align: center;
    font-style: italic;
    color: $color-text2;
    margin-bottom: 100px;
    margin-top: 0;
}

/* Splash */

.splash {
     position: relative;
     background-image: url('https://i.postimg.cc/BbpFTkDr/Background-Image.png');
     background-position: bottom center;
     background-size: cover;
     background-attachment: fixed;
     min-height: 700px; 
    text-align: center;
 }

 .splash::after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: '';
    background-color: #000;
    opacity: 0.5;
    z-index: 0;
}

.splash-inner {
    position: relative;
    margin: 0 auto;
    max-width: 80%;
    z-index: 2;
    color: $color-text1;
    text-align: left;
}

.splash-inner .logo {
    margin-top: 24px;
    height: 22px;
    width: 72px;
}



.navigation {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    text-align: right;
    margin-top: 19px;
}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navigation li {
    display: inline-block;
}

.navigation a {
    text-decoration: none;
    color: $color-text1;
    font-family: $font-text;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-transform: uppercase;
    padding-right: 50px;
}

.page-title {
    font-family: $font-title;
    font-size: 42px;
    font-weight: 100;
    font-style: italic;
    line-height: 60px;
    text-align: center;
    margin: 200px auto 0;
}

.page-subtitle {
    font-family: $font-text;
    font-size: 72px;
    margin: 24px auto;
    font-weight: 800;
    text-align: center;
    letter-spacing: 0.6px;
    text-transform: uppercase;
}

.btn {
    text-decoration: none;
    border: 2px solid $color-main;
    border-radius: 5px;
    padding: 16px 48px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin: 50px auto; 
    font-family: $font-text;
    letter-spacing: 0.6px;
    background-color: $color-main;
    color: $color-text1;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/*Services*/
.services .col-4 {
    min-width: 200px;
    text-align: center;
    //position: relative;
    //min-height: 1140px;

    padding: 0 18px;
}



.services .icons {
    font-size: 0;
    width: 72px;
    height: 72px;
    border: 3px solid $color-main;
    border-radius: 50%;
   // background-color: inherit;
    text-align: center;
    //padding-top: 20px;
    margin: 0 auto;
}


.services i{
    font-size: 36px;
    color: $color-main;
    padding-top: 18px;

}

.services h4 {
    font-family: $font-text;
    font-size: 18px;
    margin-bottom: 16px;
}

.services p {
    font-family: $font-title;
    font-size: 15px;
    line-height: 20px;
    color:#000;
    font-style: normal;
}

/*Our Portfolio*/

.portfolio {
    background-color: #f1f2f6;
}

.portfolio .col-4 {
    padding: 0px 15px 24px;
}

.portfolio img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    vertical-align: middle;
}
.portfolio .card-body {
    background-color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
}

.portfolio .card-body h4 {
    font-size: 16px;
    margin: 0;
    padding: 0; 
    padding-top: 24px;
}

.portfolio .card-body h5 {
    font-size: 14px;
    color: $color-text2;
    font-family: $font-title;
    font-style: italic;
    margin: 0;
    padding-bottom: 24px;
    letter-spacing: 1px;
}

/*footer*/

footer {
    margin: 28px auto 28px;
}

footer p{
    margin-top: 30px;
    font-size: 14px;
}
footer .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
}

footer ul {
    display: flex;
    justify-content: center;
    padding: 0;
}

footer li {
    font-size: 0;
    width: 42px;
    height: 42px;
    background: #000;
    border: none;
    text-align: center;
    margin: 0 10px;
    border-radius: 50%;
    padding-top: 12px;
}

footer li i {
    font-size: 18px;
    color: #fff;
}



